.main-wrap{
    top: 50px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    height: 650px;
    background-color: white;
    z-index:1000;
    border-radius: 6px;
    position: relative;
}

.let-nav-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: rgb(38, 38, 38);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.list-wrap{
    width: 250px;
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    border-right: 1px solid rgb(239, 239, 239);
}

.list-wrap > .list-hole{
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.content-wrap{
    position: absolute;
    top: 0;
    left:330px;
    bottom: 0;
    width: 470px;
    background-color: rgb(243, 243, 243);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.avatar{
    margin: 50px 13%;
    border-radius: 4px;
}

.icon-item{
    width: 60px;
    height: 80px;
    font-size: 26px;
    cursor: pointer;
    margin-left: 10px;
}
.icon-item a{
    color: rgb(81, 81, 81);
}

.active-color{
    color: rgb(31, 185,34);
}