.chat-content-wrap{
    width: 100%;
    height: 430px;
    overflow-y: auto;
    padding: 0 5px;
    box-sizing: border-box;
}

.chat-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.chat-item:after{
    display: block;
    visibility: hidden;
    content: '';
    clear: both;
}

.chat-item > img{
    width: 35px;
    height: 30px;
    border-radius: 4px;
}

.chat-item > span{
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    top: 0;
    padding: 6px 8px;
}


.left-item > img{
    float: left;
}

.left-item > span{
    position: absolute;
    left: 40px;
    background-color: #ffffff;
    margin-left: 10px;
}

.right-item > img{
    float: right;
}

.right-item > span{
    position: absolute;
    right: 40px;
    background-color: rgb(161, 231, 90);
    margin-right: 10px;
}

.chat-item > .chat-img{
    width: 180px;
    height: 120px;
}

#pickerContainer{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
    box-shadow: #ddd 5px 5px 5px;
}

.image-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}

.image-wrap img{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}