.login-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    filter: blur(5px);
    background: url(../../static/images/bg.jpg) fixed center center no-repeat;
    background-size: cover;
    width: 100%;
}

.login-content{
    position: relative;
    top: 65px;
    left: 50%;
    width: 360px;
    height: 400px;
    margin-left: -180px;
    background-color: white;
    color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    z-index: 1000;
    padding: 0 50px 50px 50px;
}

.logo{
    margin: 10px 0 40px 0;
    width: 200px;
    height: 100px;
}

div.form-item{
    margin: 0 10px 30px 10px;
}
